<!-- Header -->
<nav class="navbar" aria-label="First navbar example"></nav>
<div class="title">
  <h5>Financial Management * CAPEX Management</h5>
  <h1>CEMEX Go Online Stores</h1>
</div>
<div class="container-fluid">
  <div class="searchContainer">
    <!-- show all names -->
    <input #searchText type="text" class="icon" placeholder="Search for Name" (keyup)="onSearch(searchText.value)"
      list="testList">
    <datalist id="testList">
      <option *ngFor="let c of DataList" [ngValue]="c">{{c.supplierName}}</option>
    </datalist>
    <span (click)="open(modal)" class="openModal"><i class="fas fa-filter"></i>Filters </span>
  </div>
</div>
<!-- show data -->
<div class="container-fluid">
  <div class="total">
    <h5>Total: {{totalSum(1) | currency }} USD</h5>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Status</th>
          <th scope="col">Supplier Name</th>
          <th scope="col">Month</th>
          <th scope="col">Phase</th>
          <th scope="col">Internal Order</th>
          <th scope="col">Amount(USD)</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tr" *ngFor="let data of displayData">
          <td>
            <div class="rectangle"></div>{{data.status}}
          </td>
          <td>{{data.supplierName}}</td>
          <td>{{data.month}}</td>
          <td>{{data.phase}}</td>
          <td>{{data.internalOrder}}</td>
          <td>{{data.amount | currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Form modal -->
<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Filter Expenses</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">



    <form [formGroup]="Form" (ngSubmit)="onSubmit()"id="Form">
      <span>Status</span>
      <div class="form-row"  >
        <label class="checkbox-inline">
          <input type="checkbox" id="Active"  value="status" formControlName="status"> Active
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" id="Pending Approval" value="Pending Approval" formControlName="status"> Pending Approval
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" id="Waiting Compensation" value="Waiting Compensation" formControlName="status"> Waiting Compensation
        </label>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputState">Phase</label>
          <select class="form-select" id="phase" formControlName="phase">
            <option value="" selected>Select one or more phases</option>
            <option *ngFor="let p of DataList" [ngValue]="p.phase">{{p.phase }}</option>
            <!-- <option value="Research">Research</option> -->
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Month</label>
          <select class="form-select" id="month" formControlName="month" >
            <option value="" selected>Select one or more months</option>
            <option *ngFor="let m of DataList" [ngValue]="m.month">{{m.month}}</option> -->
           </select>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary"  (click)="modal.dismiss('Cross click')">Apply</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
      </div>
    </form>
  </div>
</ng-template>